img {
    border-radius: 25px;
}

div.title-slide {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

div.title-slide > div.hero-image {
    flex: 1 1 300px
}

div.title-slide > div.title-content {
    flex: 1 1 300px;
    text-align: left;
    padding-left: 20px;
}

.two-column-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.two-column-text > div {
    text-align: left;
    margin: 0;
}

.demo-columns {
    display: grid;
    grid-template-rows: 350px 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.demo-columns > div.example {
    grid-column: 1;
    grid-row: 1;
    max-height: 350px;
    max-width: 500px;
}

.demo-columns > div.output {
    grid-column: 2;
    grid-row: 1;
    max-height: 350px;
    max-width: 500px;
}

.demo-columns > div.output code {
    max-height: 350px;
    max-width: 500px;
}

.demo-columns > div.example-controls {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
}

.demo-columns > div.example-controls > button {
    background-color: rgb(238, 232, 213);
    border: solid 1px black;
    font-size: 16pt;
    width: 150px;
}

.demo-columns > div > pre {
    display: block;
    height: 99%;
    width: 99%;
}

div .footnote {
    font-size: 8pt;
    opacity: 25%;
}

.reveal pre {
    font-size: .4em;
    margin: 5px;
}
